In [4]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
import pickle as pk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report, matthews_corrcoef, confusion_matrix, ConfusionMatrixDisplay, make_scorer
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier
from imblearn.ensemble import RUSBoostClassifier

In [6]:
with open("x_training.pkl" , "rb") as file:
    x_training = pk.load(file)
with open("y_training.pkl" , "rb") as file:
    y_training = pk.load(file)

In [10]:
# dataset with 15 best features:

best_features=['HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker', 'Stroke',
       'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth']
x_training_select = x_training[best_features]
x_training_select.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth
49845,1.0,0.0,1.0,39.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,3.0,3.0
49936,1.0,1.0,1.0,47.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,4.0,0.0
49968,1.0,0.0,1.0,32.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,4.0,0.0
49978,1.0,1.0,1.0,30.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0
50016,0.0,0.0,1.0,43.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,5.0,4.0

In [11]:
# dataset with all features:

x_training.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
49845,1.0,0.0,1.0,39.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,3.0,3.0,0.0,1.0,0.0,8.0,6.0,7.0
49936,1.0,1.0,1.0,47.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,4.0,0.0,6.0,0.0,0.0,10.0,5.0,6.0
49968,1.0,0.0,1.0,32.0,0.0,0.0,0.0,1.0,1.0,1.0,...,1.0,1.0,4.0,0.0,4.0,0.0,0.0,9.0,3.0,3.0
49978,1.0,1.0,1.0,30.0,1.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,4.0,6.0
50016,0.0,0.0,1.0,43.0,1.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,5.0,4.0,4.0,1.0,0.0,3.0,3.0,5.0

PER OGNI MODELLO SPIEGARE PERCHè L HO SCELTO

In [ ]:
models = []
models.append(( 'LR'   , LogisticRegression(solver='lbfgs', max_iter=500)))    # avoid warnings with (solver='lbfgs', max_iter=500)
models.append(( 'LDA'  , LinearDiscriminantAnalysis()))
models.append(( 'KNN'  , KNeighborsClassifier()))
models.append(( 'CART' , DecisionTreeClassifier()))
models.append(( 'NB'   , GaussianNB()))
models.append(( 'SVM' , SVC()))

INIZIALIZZARE TUTTI I MODELLI (QUINDI GUARDARE GLI IPERPARAMETRI)
APPENDARLI A UNA LISTA
FARE FIT E POI TESTARLI 
   kfold = KFold(n_splits=10, random_state=7, shuffle=True)

  cv_results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

  qualcosa del genere

  POI FARE QUELLA ROBA GERARCHICA